*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}



/* google font  */

/* quicksand */



/* shared design here  */

.curriculum, .stories{
    background-image: url("../image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}





/* header section design start here  */

.header-section, .curriculum, .stories{
    display: flex;
    justify-content: center;
}

.container{
    width: 1170px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area{
    display: flex;
    align-items: center;
}
.header-menu-area ul{
    display: flex;
    gap: 32px;
}

.nav-btn-area button{
    background-color: orange;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 20px 30px;
}

.banner{
    display: flex;
    align-items: center;
}

.banner-img img{
    width: 100%;
}


.banner-btn{
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    border-radius: 7px;
    border: none;
}

/* curriculum section design start here  */



.curriculum-heading{
    text-align: center;
}

.curriculum-box-container{
    display: flex
}
.curriculum-box{
    text-align: center;
}

.curriculum-box button{
    background: none;
    border: none;
}

/* Stories section design start here  */

.stories h2{
    text-align: center;
}

.stories-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.big-box{
    width: 40%;
}
.small-box{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.b-stories-img img, .stories-img img{
    width: 100%;
}
.stories-btn-area{
    text-align: center;

}
.stories-btn-area button{
    border: none;
    color: #fff;
    background-color: black;
    padding: 20px 40px;
    border-radius: 7px;
}


/* footer section design start here  */

.footer-area{
    margin: 0px auto;
}

.footer-container{
    display: flex;
    justify-content: end;
    background-color: skyblue;

}

.logo{
    width: 10%;
}


/* responsive  design start here  */

@media screen and (max-width:576px) {

    /* responsive header */
    .banner{
        flex-direction: column-reverse;
    }
    .logo-area span, .header-menu-area, .nav-btn-area{
        display: none;
    }
    .banner-content{
        text-align: center;
    }
    
    /* responsive curriculum */
    
    .curriculum-box-container{
        flex-direction: column;
    }

    .arrow{
        display: none;
    }

    /* responsive stories  */

    .big-box{
        display: none;
    }
    .small-box{
        justify-content: center;
    }
   
        
}

